 .navbar-main,
 .sidebar-main {
     background: radial-gradient(#124073, #0b2c4f);
 }
 
 .navbar-title {
     font-family: 'Karla', sans-serif;
     color: #FFFFFF;
 }
 
 .menu {
     font-family: 'PT Sans', sans-serif;
 }
 
 .table {
     font-family: 'Istok Web', sans-serif;
 }
 
 .sidebar-main {
     margin-top: 10px;
     margin-left: 10px;
     color: #FFFFFF;
 }
 
 .column-principal {
     margin-top: 20px;
     margin-right: auto;
 }
 
 .card-principal {
     background-color: #FFFFFF;
 }