nav{
    height: 70px;
}

 
 .font {
     font-family: 'Karla', sans-serif;
     color: #FFFFFF;
 }
 
 .menu {
     font-family: 'PT Sans', sans-serif;
 }
 
 .table {
     font-family: 'Istok Web', sans-serif;
 }
 
 .sidebar-main {
     margin-top: 10px;
     margin-left: 10px;
     color: #FFFFFF;
 }
 
 .column-principal {
     margin-top: 20px;
     margin-right: auto;
 }
 
 .card-principal {
     background-color: #FFFFFF;
 }

.contenedor{
    margin-top: 20px;
    
}


 .titulo_una  {
    color: #FFFFFF;
    cursor: pointer;

 }
 .titlec:hover {
    color: rgb(255, 255, 255);
  }